<p>
    {{ category.category_name }} {% if user.empl_role == 'manager' %}
    <a href="/categories/{{ category.category_number }}/edit">Edit</a>
    <button
        type="button"
        hx-delete="/categories/{{ category.category_number }}"
        hx-confirm="Are you sure you want to delete this category?"
        hx-target="closest p"
        hx-swap="outerHTML"
    >
        Delete
    </button>
    {% endif %}
    {% if error %}
    <span style="color: red;">{{ error }}</span>
    {% endif %}
</p>