{% extends "print_base.html" %}
{% block title %}Customer cards{% endblock %}
{% block report_title %}Customer cards report{% endblock %}
{% block report_body %}
{% set readonly = True %}
<table class="data-table">
    <thead>
        <tr><th>Card №</th><th>Surname</th><th>Name</th><th>Phone</th><th>City</th><th>%</th></tr>
    </thead>
    <tbody>
        {% for customer_card in customer_cards %}
        {% include "_customer_card_row.html" %}
        {% else %}
        <tr><td colspan="6">No customer cards.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
