{% extends "base.html" %}
{% block title %}Customer cards{% endblock %}
{% block content %}
<h1>Customer cards</h1>

<a class="button-link" href="/customer_cards/new">New customer card</a>
{% if user.empl_role == 'manager' %}
<a class="button-link" href="/customer_cards/print">Print</a>
{% endif %}

<form class="toolbar" method="get" action="/customer_cards/">
    <label>Surname
        <input type="text" name="surname" value="{{ surname }}" placeholder="Search by surname">
    </label>
    <label>Discount %
        <input type="number" name="percent" value="{{ percent if percent is not none else '' }}" min="0" placeholder="Any">
    </label>
    <button type="submit">Apply</button>
    {% if surname or percent is not none %}<a class="button-link" href="/customer_cards/">Clear</a>{% endif %}
</form>

<table class="data-table">
    <thead>
        <tr>
            <th>Card №</th><th>Surname</th><th>Name</th>
            <th>Phone</th><th>City</th><th>%</th><th></th>
        </tr>
    </thead>
    <tbody>
        {% for customer_card in customer_cards %}
        {% include "_customer_card_row.html" %}
        {% else %}
        <tr><td colspan="7">No customer cards.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}